/* {
  color: white;
} */

body {
  background-color: #4E4F57;
}

body {
  background-color: #4E4F57;
}

.img {
  
  margin-top: 25%;
}

.button {
  background-color: #B93ABC;
  border-color:  #B93ABC ;
  width: 90%;
  border-radius: 15px;
  margin-bottom: 20px;
  color: white;
} 

/* .imgsh{
  margin-top: 20px;
  margin-left: 17%;
} */

.link {
  margin-top: 100px;
}