.logoscan{
  img{
    max-width: 150%;
    height: auto;
    vertical-align: middle;
  }
}
.btn{
  margin-top: 13px;
  background-color: #7864E9;
  width: 70px;
  height: 35px;
  color: white;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  // $blue-boton: #7864E9;
}